.header {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 4vh 6vw 2vh;
  font-family: var(--font-header), serif;
}

.title {
  font-size: var(--display-title-size);
  line-height: var(--display-title-line);
  letter-spacing: var(--display-title-spacing);
}

.right {
  text-align: right;
  justify-content: flex-end;
}
