.block {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 0 6vw 6vh;
  font-family: var(--font-basic), sans-serif;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 48%;
}

.right .column {
  text-align: right;
}

.p {
  font-size: calc(var(--display-desc-size) * 1.12);
  line-height: var(--display-desc-line);
}

.wide .column {
  max-width: 70%;
}

.wide .p {
  font-size: calc(var(--display-desc-size) * 1.4);
  line-height: 1.65;
}

@media (max-width: 786px) {
  .wide .column {
    max-width: 100%;
  }
}

@media (max-width: 786px) {
  .column {
    max-width: 100%;
  }
}
